*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --bg-color: #fff;
  --second-bg-color: #202020;
  --text-color: #202020;
  --second-color: #ccc;
  --main-color: #ff4d05;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.mega-logo {
  background-color: #202020;
}

.mega-logo img {
  width:100%;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 6px;
  /* border-bottom: 1px solid transparent; */
  border: 2px solid black;
  transition: all .45s ease;
}

.logo{
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 2rem;
}

.navlist {
  display: flex;
}

.navlist a{
  color: black;
  font-size: 17px;
  font-weight: 300;
  margin: 0 25px;
  transition: all .1s ease;
}

.navlist a:hover {
  font-weight: 800;
}


#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

.home{
  position: relative;
  height: 100vh;
  width: 100%;
  /* Might use a background image, placeholder for now */
  /* background-image: url(./imgs/Neon_Beard_man_creating_planet_by_writing_code_on_his_laptop_on_8438d8e5-e301-4ca9-a880-933fe31189ac.png);
  background-size: cover;
  background-position: center; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-left {
  background: #9c7bff;
  border-right: 2px solid black;
  border-left: 2px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home-right {
  background: #50feb0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.home-right img {
  width: 55%;
}

.home-left, .home-right {
  width: 50%;
  min-width: 50%;
  height: 100vh;
  border-bottom: 2px solid black;
  padding-top: 4rem;
}

.slide{ 
  margin-bottom: 20px;
}

.one{
  display:inline-block;
  margin-right: 15px;
  height: 80px;
  padding: 0 15px;
  line-height: 80px;
  font-size: 80px;
  font-weight: 500;
  border-radius: 5px;
  background: white;
  color: var(--text-color);
  border: 2px solid black;
  transition: all .2s ease;
  box-shadow: 10px 5px black;
}

.two{
  display: inline-block;
  color: var(--text-color);
  font-size: 80px;
  font-weight: 500;
}

.home-left h1{
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;
}

.home-left h3{
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.home-left p {
  color: black;
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
  padding: 0 20px;
  text-align: center;
}

.button{ 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.about {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  background-image: url(./imgs//shapes.png);
  background-size: cover;
  background-position: center;
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img{
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: black;
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

header.sticky {
  position: fixed;
  background: var(--bg-color);
  border: 2px solid  black;
  padding: 6px;
  transition: all 2s ease;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.main-text{
  text-align: center;
}

.main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}

.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.portfolio {
  position: relative;
  background: #f8ff1e;
  padding: 6rem 2rem 3rem 2rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 3rem;
}

.row {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: all .2s ease;
  border: 2px solid black;
  background: white;
  box-shadow: 10px 10px black;
  
}

.row-text {
  margin: 1.5rem 0;
}

.row-text h3 {
  font-weight: 300;
}

.row:hover img {
  box-shadow: none;
}

.row:hover .layer {
  height: 100%;
}

.contact {
  position: relative;
  min-height: 100vh;
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 100%;
  margin-left: 1rem;
}
.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: black;
  font-size: 14px;
  transition: all .1s ease;
}

.list li a:hover {
  font-weight: 700;
  transform: translateX(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  background: black;
  color: white;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.contact-icons i:hover {
  background: white;
  color: black;
  border: 2px solid black;
  transform: scale(1.1);
}

.contact-form {
  border-left: 2px solid black;
  background: black;
  height: 100%;
  display: flex;
  align-items: center;
}

.contact-form form{
  position: relative;
  margin: 3rem;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea{
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: white;
  color: black;
  width: 160px;
  transition: all .45s ease;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 8px;
}

.contact-form .submit:hover {
  transform: scale(1.05);
  background: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #e65c17;
}

.last-text p {
  color: var(--second-color);
  font-size: 14px;
}

.top {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: black;
  background: white;
  border: 2px solid black;
}
.top:hover i {
  transform: scale(1.05);
  color: white;
  background: black;
  border: 2px solid white;
}

.project-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #ff90e8;
  background-image: url(/imgs/portfolio-item.png);
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.portfolio-item-individual {
  width: 100%;
}

.portfolio-item-video{
  width: 60%;
  margin: 3rem auto 1.5rem auto;
 }

 .portfolio-item-video video {
  width: 100%;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  border-radius: 8px;
 }

 .portfolio-item-video p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
 }

 .portfolio-item-description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
 }

 .portfolio-item-description a i{
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  margin-right: .5rem;
  font-size: 30px;
  box-shadow: 4px 4px black;
  transition: all .45s ease;
 }

 .portfolio-item-description a:hover i {
  transform: scale(1.10);
 }

 .project-keywords {
  margin-top: 1rem;
  width: 100%;
 }

 .project-keywords label {
  border-radius: 30px;
  border: 2px solid black;
  padding: .25rem .5rem;
  box-shadow: 4px 4px black;
  margin-right: .75rem;
  line-height: 50px;
 }

.project-intro h1 {
  font-size: 80px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 40vh;
}

.footer span {
  font-size: 60px;
}

.footer-button {
  font-size: 20px;
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
  transition: all .45s ease;
}

.footer-button:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px white;
}

.footer-email {
  color: white;
  text-decoration: none;
}
.footer-email:hover {
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1480px) {
  header{
    transition: .1s;
  }

  header.sticky {
    padding: 6px;
    transition: .1s;
  }

  section {
    padding: 0;
  }

}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: .1s;
  }

  .home-left h3 {
    font-size: 2.5rem;
  }

  /* .home {
    height: 87vh;
  } */
}

@media (max-width: 920px) {
  .home {
    flex-direction: column;
    height: auto;
  }
  .home, .home-left, .home-right {
    width: 100%;
  }

  .home-left {
    height: 90vh;
    
  }

  .home-right {
    height: 80vh;
    padding-top: 0;
    border-left: 2px solid black;
  }

 .home-right img {
  width: 40%;
 }
  /* .home-left h1 {
    font-size: 2rem
  }
  .home-left h3 {
    font-size: 1.5rem;
  } */
  .about {
    grid-template-columns: 1fr;
    padding: 2rem 2rem 0 2rem;
    background: white;
  }

  .about-img {
    text-align: center;
    order: 2;
  }

  .about-img img {
    padding-bottom: 5rem;
    width: 60%;
    height: auto;
    max-width: 100%;
  }
  
  .about-text p {
    margin-right: 0;
  }

  .portfolio-content {
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .contact {
    padding-top: 2rem;
    grid-template-columns: 1fr;
  }
  .contact-text {
    margin-right: 1rem;
    text-align: center;
  }

  .portfolio-item-video, .portfolio-item-description {
    width: 90%;
  }

  .footer {
    height: 30vh;
  }

}

@media (max-width: 840px) {
  #menu-icon{
    display:block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all .45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: var(--text-color);
  }
  .navlist a:hover{
    color: var(--text-color);
  }
  .navlist a.active{
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }

  .about-img img {
    width: 70%;
  }
  
  .row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media (max-width: 640px) {
  .home-right {
    height: 60ch;
  }
  .home-right img {
    width: 70%;
  }
  .footer span {
    font-size: 40px;
  }
  .footer-button {
    font-size: 15px;
  }
}

@media (max-width: 500px) { 
  .home-left h1 {
    font-size: 2.5rem;
  }
  .home-left h3 {
    font-size: 2rem;
  }
  .home-left {
    height: 90vh;
  }

  .home-right img{
    width: 80%;
  }

  .one{
    margin-right: 15px;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 500;
    border-radius: 5px;
    background: white;
    color: var(--text-color);
  }
  
  .two{
    display: inline-block;
    color: var(--text-color);
    font-size: 40px;
    font-weight: 500;
  }

  .about-img img {
    width: 100%;
  }

  .project-intro h1 {
    font-size: 60px;
  }

}

@media (max-width: 400px) { 

.home-right {
  height: 60vh;
}

.home-right img {
  width: 70%;
}

.footer span {
  font-size: 30px;
}

}